@charset "UTF-8";
/* CSS Document */
body{
	position: relative;
}
		.tt{
			height: 36px;
			background-color: #EFEFEF;
		}
			.tt .ttp1 a{
				font-size: 14px;
				line-height: 36px;
				color: #000;
			}
			.tt ul{
				font-size: 12px;
				line-height: 36px;
			}
				.tt ul li{
					margin-right: 21px;
					text-align: center;
				}
				.tt li a{
					color: #000;
				}
				.tt .li1 span{
					font-size: 3px;
					margin-left: 5px;
				}
				.tt .li1 .tts1{
					font-size: 12px;
					color: #FF4400;
					margin-right: 6px;
				}
				.tt .li2 span{
					font-size: 3px;
					margin-left: 5px;
				}
				.tt .li2 .tts1{
					font-size: 12px;
					color: #FF4400;
					margin-right: 6px;
				}
				.tt li b{
					font-size: 8px;
					color: #FF4400;
					margin-left: 2px;
				}
				.tt .li1{
					position: relative;
				}
				.tt .li2{
					position: relative;
				}
					.tt .li1 ol{
						position: absolute;
						left: 0;
						top: 100%;
						width: 100px;
						display: none;
						z-index: 999;
					}
						.li1:hover ol{
							display: block;
							background-color: #fff;
						}
						.li1 li:hover{
							background-color: #ccc;
						}
						.li2:hover div{
							display: block;
							background-color: #fff;
						}
						.li1:hover{
							background-color: #fff;
						}
						.li2:hover{
							background-color: #fff;
						}
					.tto1 a{
						width: 105px;
						height: 25px;
						display: inline-block;
						line-height: 25px;
						text-align: center;
						background-color: #FF4400;
						border-radius: 5px;
						margin-left: 10px;
					}
					.ld1{
						height: 209px;
						width: 1196px;
						position: absolute;
						right: 0;
						top: 100%;
						display: none;
						z-index: 999;
					}
						.ld1 div{
							width: 290px;
							height: 176px;
							border-right: 1px solid #000;
						}
						.ld1 p{
							font-size: 16px;
							margin-left: 10px;
						}
						.ld1 ol{
							margin-left: 10px;
						}
						.ld1 ol li{
							float: left;
							font-size: 12px;
							width: 48px;
							height: 26px;
							text-align: center;
							line-height: 26px;
						}
							.ld1  li:hover{
								color: #fff;
								background-color: #FF4400;
							}
		.ti{
			 height:40px;
			 width:1000px;
			 margin-left: 250px;
		}
			.ti img{
				 height:40px;
				 width:1000px;
			}
		.tc{
			margin-top: 50px;
			height: 106px;
		}
			.tci1{
				 height:58px; 
				 width:141px;
				 float: left;
				 margin-right: 110px;
			}
			.form1{
				float: left;
				width: 720px;
				height: 70px;
				position: relative;
			}
				.form1 input{
					width: 578px;
					height: 39px;
					border:3px solid #FF4400;
					
				}
				.form1 select{
					width: 74px;
					height: 41px;
					background-color: #F5F5F5;
					padding-left: 10px;
					position: absolute;
					left: 3px;
					top: 3px;
				}
				.fp1{
					font-size: 12px;
					color:#000;
					position: absolute;
					left: 90px;
					top: 15px;
				}
				.fs1{
					font-size: 14px;
					color: #000;
					position: absolute;
					top: 15px;
					right: 158px;
				}
				.fa1{
					width: 100px;
					height: 46.5px;
					display: inline-block;
					background-color: #FF4400;
					text-align: center;
					line-height: 46.5px;
					font-size: 20px;
					color: #fff;
					position: absolute;
					top: 0px;
					right: 36px;
				}
				.fa2{
					width: 30px;
					height: 30px;
					display: inline-block;
					font-size: 12px;
					color: #000;
					position: absolute;
					right: 0;
					top: 8px;
				}
				.fp2{
					position: absolute;
					left: 0;
					bottom:0;
					font-size: 12px;
				}
					.fp2 a{
						color: #000;
						margin-right: 8px;
					}
					.fpa1{
						width: 39px;
						height: 18px;
						border:1px solid #939393;
						text-align: center;
						line-height: 18px;
						display: inline-block;
					}
						.fp2 a:hover{
							color: #FF4400;
						}
			.tc .td1{
				float: right;
				width: 115px;
				height: 114px;
			}
				.td1 a{
					width: 18px;
					height: 18px;
					border-left: 1px solid #ccc;
					border-top: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					font-size: 14px;
					display: inline-block;
					text-align: center;
					line-height: 18px;
				}
				.tc .td2 img{
					width: 84px;
					height: 80px;
					margin-left: 8px;
					margin-top: 10px;
				}
				.td2{
					border:1px solid #ccc;
					width: 94px;
					height: 112px;
					float: right;
				}
				.td2 p{
					font-size: 12px;
					text-align: center;
				}
		.banner{
			margin-top: 34px;
			height: 600px;
		}
			.brl{
				width: 150px;
				height: 600px;
				float: left;
			}
				.brl p{
					height: 41px;
					font-size: 14px;
					color: #fff;
					background-color: #FF4400;
					text-align: center;
					line-height: 40px;
				}
				.brl ul{ 
					background-color: #F8F8F8;
					border:1px solid #999;
					border-top: transparent;
				}
				.brl ul li{
					font-size: 12px;
					color: #000;
					height: 34px;
					width: 130px;
					border-bottom: 1px solid #ccc;
					text-align: center;
					line-height: 34px;
					margin-left: 9px;
					background: url(../image/tao7.png) no-repeat;
				}
				.brl ul span{
					margin-left: 10px;
				}
				.bnli1{ background-position:0 25px;}
				.bnli2{ background-position:0 50px;}
				.bnli3{ background-position:0 75px;}
				.bnli4{ background-position:0 100px;}
				.bnli5{ background-position:0 125px;}
				.bnli6{ background-position:0 150px;}
				.bnli7{ background-position:0 175px;}
				.bnli8{ background-position:0 200px;}
				.bnli9{ background-position:0 225px;}
				.bnli10{ background-position:0 250px;}
				.bnli11{ background-position:0 275px;}
				.bnli12{ background-position:0 300px;}
				.bnli13{ background-position:0 325px;}
				.bnli14{ background-position:0 350px;}
				.bnli15{ background-position:0 375px;}
				.bnli16{ background-position:0 400px;}
			.brr{
				margin-left: 12px;
				float: left;
				width: 1028px;
			}
				.brt{
					height: 40px;
					border-bottom: 1px solid #FF4400;
				}
					.brt .btp1 a{
						font-size: 16px;
						color: #FF4400;
						line-height: 40px;
						margin-right: 69px;
					}
					.brt .btp2 a{
						font-size: 14px;
						color: #000;
						line-height: 40px;
						margin-right: 31px;
					}
					.bta1{
						height: 40px;
						width: 150px;
						position: relative;
					}
					.bta1 img{
						width: 60px;
						height: 40px;
						margin-right: 10px;
					}
					.bta1 a{
						font-size: 12px;
						color: #000;
						position: absolute;
						right: 15px;
						top: 15px;
					}
				.brrl{
					margin-top: 10px;
					width: 717px;
					margin-right: 12px;
				}
					.nav11{
						width: 515px;
						height: 281px;
						position: relative;
						overflow: hidden;
						float: left;
					}
					.o{
						height: 12px;
						width: 100px;
						position: absolute;
						left: 40%;
						bottom: 12px;
						z-index: 3;
					}
					.o li{

						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #ccc;
						margin-right: 10px;
						float: left;
					}
						.o li:hover{

							background-color: #FF4400;
						}
					.nav11 li img{
						width: 515px;
						height:280px;
						float: left;
					}
					.nav11 ul{
							width: 500%;
							height: 100%;
							position: absolute;
							left: 0;
							bottom: 0;
					}
					.nav2{
						margin-top: -4px;
					}
					.nav21{
						width: 515px;
						height: 249px;
						position: relative;
						overflow: hidden;
						float: left;
						margin-top: 0;
					}
					.o2{
						height: 12px;
						width: 100px;
						position: absolute;
						left: 40%;
						bottom: 30px;
						z-index: 3;
					}
					.o2 li{

						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: #ccc;
						margin-right: 10px;
						float: left;
					}
						.o2 li:hover{

							background-color: #FF4400;
						}
					.nav21 img{
						width: 515px;
						height:249px;
						float: left;
					}
					.nav21 ul{
							width: 500%;
							height: 100%;
							position: absolute;
							left: 0;
							bottom: 0;
					}
					.navs1{
						width: 40px;
						height: 40px;
						background-color: #000;
						font-size: 24px;
						color: #fff;
						line-height: 40px;
						text-align: center;
						display: inline-block;
						opacity: .2;
						position: absolute;
						left: 5px;
						top: 40%;
						z-index: 999;
					}
						.navs1:hover{
							opacity: .5;
						}
					.navs2{
						width: 40px;
						height: 40px;
						background-color: #000;
						font-size: 24px;
						color: #fff;
						line-height: 40px;
						text-align: center;
						display: inline-block;
						opacity: .2;
						position: absolute;
						right: 5px;
						top: 40%;
						z-index: 999;
					}
						.navs2:hover{
							opacity: .5;
						}
				.brrr{
					width: 299px;
					margin-top: 10px;
				}
					.brrt{
						width: 297px;
						height: 98px;
						border:1px solid #000;
					}
						.brrt p a{
							width: 59.4px;
							height: 27px;
							background-color: #ccc;
							font-size: 14px;
							color: #000;
							line-height: 27px;
							text-align: center;
							display: inline-block;
							float: left;
						}
							.brrt p a:hover{
								background-color: #fff;
								font-weight: bold;
							}
						.bra1{
							font-size: 12px;
							color: #000;
							float: left;
							margin:14px 10px -2px 10px;
						}
							.bra1:hover{
								color: #FF4400;
							}
					.brrb{
						width: 297px;
						height: 417px;
						border:1px solid #000;
						margin-top: 9px;
					}
						.rrbt{
							height: 138px;
							border-bottom: 1px solid #000;
							position: relative;
						}
							.rbti1{
								width: 60px;
								height: 60px;
								border-radius: 50%;
								margin-left: 19px;
								margin-top: 10px;
								float: left;
								margin-right: 10px;
							}
							.rbti2{
								width: 150px;
								height: 70px;
								position: absolute;
								right: 0;
								top: 0;
								z-index: 0;
							}
							.rrbt p{
								padding-top: 10px;
								font-size: 12px;
								font-weight: bold;
							}
							.rba1{
								width: 87px;
								height: 28px;
								background:url(../image/tao126.png) no-repeat 4px center #FFEFE7;
								border:1px solid #FDB08E;
								display: inline-block;
								font-size: 12px;
								color: #F55732;
								position: absolute;
								right: 100px;
								top: 38px;
								line-height: 28px;
								text-align: center;
								padding-left: 20px;
							}
							.rba2{
								width: 74px;
								height: 28px;
								background-color: #FFEFE7;
								border:1px solid #FDB08E;
								display: inline-block;
								font-size: 12px;
								color: #F55732;
								position: absolute;
								right: 19px;
								top: 38px;
								line-height: 28px;
								text-align: center;
							}
							.rba3{
								width: 100px;
								height: 35px;
								background-color: #FF4300;
								line-height: 35px;
								font-size: 2px;
								color: #fff;
								text-align: center;
								display: inline-block;
								position: absolute;
								left: 19px;
								bottom:18px;
							}
								.rba3 span{
									margin-right: 11px;
								}
							.rba4{
								width: 75px;
								height: 35px;
								background-color: #FF4300;
								line-height: 35px;
								font-size: 2px;
								color: #fff;
								text-align: center;
								display: inline-block;
								position: absolute;
								left: 123px;
								bottom:18px;
							}
							.rba5{
								width: 75px;
								height: 35px;
								background-color: #FF4300;
								line-height: 35px;
								font-size: 2px;
								color: #fff;
								text-align: center;
								display: inline-block;
								position: absolute;
								right: 19px;
								bottom:18px;
							}
							.rbbd1{
								height: 108px;
								background-color: #ccc;
							}
								.rbbd1 p{
									margin-left: 16px;
									padding-top: 21px;
									font-size: 14px;
								}
								.rbbd1 a{
									width: 56px;
									height: 64px;
									margin-bottom: 0;
									display: inline-block;
									font-size: 12px;
									background-color: #fff;
									text-align: center;
									color: #000;
								}
									.rbbd1 a:hover{
										color: #FF4300;
									}
								.dpas1{
									font-size: 16px;
									width: 100%;
									display: inline-block;
								}
								.dpas2{
									font-size: 10px;
									width: 100%;
									display: inline-block;
								}
							.rbbd2{
								position: relative;
							}
								.dp1{
									position: absolute;
									right: 1px;
									top:0;
									font-size: 26px;
									color: #ccc;
								}
								.rbbd2 form{
									position: absolute;
									left: 10px;
									top: 28px;
									width: 180px;
									height: 50px;
								}
									.rbbd2 form input{
										width: 143px;
										height: 12px;
										margin-bottom: 5px;
									}
									.rbbd2 form select{
										width: 147px;
									}
									.rbbd2 form p{
										width: 31px;
										height: 18px;
										font-size: 12px;
										line-height: 18px;
										text-align: center;
										display: inline-block;
										background-color: #E5E5E5;
										margin-top: 1.8px;
									}
									.rbbd2 form span{
										position: absolute;
										left: 160px;
										top: 4px;
										font-size: 14px;
									}
								.dp2{
									position: absolute;
									left: 10px;
									top:80px;
									font-size: 12px;
								}
								.dp3{
									position: absolute;
									left: 10px;
									top:110px;
									font-size: 12px;
								}
									.dpa1{
										width: 70px;
										height: 26px;
										font-size: 12px;
										color: #000;
										display: inline-block;
										border-radius: 2px;
										text-align: center;
										line-height: 28px;
										border:1px solid #ccc;
										margin-right: 10px;
									}
										.dpa1:hover{
											background-color: #FF6600; 
											border-color: #FF6600; 
											color: #fff; 
										}
					.tb{
						margin-top: 18px;
						height: 90px;
					}
						.tb div{
							width: 298px;
							height: 90px;
							float: left;
							border-right: 1px solid #000;
						}
							.tb p{
							font-size: 16px;
							margin-left: 10px;
							}
							.tb ul{
								margin-left: 10px;
								margin-top: 20px;
							}
							.tb ul li{
								float: left;
								font-size: 12px;
								width: 55px;
								height: 26px;
								text-align: center;
								line-height: 26px;
								margin-right: 13px;
							}
								.tb li span{
									font-size: 10px;
									margin-left: 5px;
								}
								.tb  li:hover{
									color: #fff;
									background-color: #FF4400;
								}
								.tbli1{
									background: url(../image/tao113.png) no-repeat right top;
									padding-right: 8px;
								}
								.tbli2{
									background: url(../image/tao114.png) no-repeat right top;
									padding-right: 8px;
								}